@import "tailwindcss";


/* Definir colores*/
@theme {
    --color-fondo:#2e0130;
    --color-tarjet:#3d0840;
    --color-post:#280835;
    --color-containConsole:#5f4287;
    --color-fontProblem:#931332;
    --color-fontConsole:#9a95a9;
    --color-fontSolution:#0f961a;
    --color-fontTimestamp:#e5c78a;
    --color-consoleRed:#d95e5e;
    --color-consoleYellow:#d9b85e;
    --color-consoleGreen:#4cd364;
    --font-fontPost:  "Inter", sans-serif;

    --font-fontConsole: "Orbitron", sans-serif;
}


@keyframes latido {
    0%, 100% { transform: scale(1.3);}
    50% { transform: scale(1.10);}
}

.animate-latir {
    animation: latido 1.4s ease-in-out infinite;
}
